node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/
ios/Pods/*
ios/expokit-35-test/Supporting/shell-app-manifest.json
ios/expokit-35-test/Supporting/shell-app.bundle
